body {
  background-color: #100e17;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: #ffdada;
  background: #ff4a4a;
  font-size: 60px;
  line-height: 74px;
  font-weight: 700;
  margin: 0 5px 24px;

  padding: 10px;
  margin: 0 5px 24px;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(140, 200, 255);
  font-size: 20px;
}

.container {
  position: absolute;
  height: 600px;
  width: 1300px;
  top: 200px;
  left: calc(50% - 650px);
  display: flex;
}

.card {
  display: flexbox;
  height: 550px;
  width: 700px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(140, 200, 255);
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 300px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}
button{

  display: inline-block;
  padding: 15px 25px;
  font-size: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3156bb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
button:hover {
  background: #61abe7;
}
button:active {
  background-color: #6f7a70;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
